body { 
    padding-top: 60px; 
} 

#main { 
    padding-top: 60px; 
} 

#content { 
    padding-top: 120px; 
    padding-right: 15px;
} 

.accordian-toggle a:hover {
    text-decoration: none !important;
} 

.collapsed .icon-collapse-alt {
    display: none;
}

.collapsed .icon-expand-alt {
    display: inline !important;
}

.icon-expand-alt {
    display: none !important;
}

.leftj {
    text-align: left;
}

.rightj {
    text-align: right;
}

.alignleft {
    float:left;
}

.alignright{
    float:right;
}

.btn-primary {
    .buttonBackground(Blue, DarkBlue);
}


.navbar-brand {
    .color:blue;
}


#right-sidebar{
    padding-top: 10px; 
    position:absolute;
    width:10px;
    height:100%;
    top:50px;
    right:0;
    background:#000000;
    border-left: 1px solid #cecece;
    color:#000000;
    overflow:hidden;
 }


#button-sidebar{
    width:30px;
    height:100%;
    position:fixed;
    top:50px;
    right:0;
    background:transparent;
    color:#fff;
    overflow:hidden;
 }

.button{
    width: 60px; 
    background-color: #000000; 
    -moz-background-clip: padding; 
    -webkit-background-clip: padding; 
    background-clip: padding-box; 
    color: #ffffff; 
    padding: 6px 5px 6px 5px; 
    font: 10px Arial, Helvetica, sans-serif; 
    text-transform: uppercase; 
    line-height: 18px; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border-radius: 3px; 
    cursor: pointer; 
    display: block; 
    outline: none; 
    text-align: centre; 
    text-decoration: none; 
}


.editable-container.editable-inline {
    width: 100%;
}

.form-inline .editableform {
    width: 100%
}

/* TODO: this is hackish, but I can't figure out how else to make it go full-width */
.editableform .control-group {
    width: 80%;
}

.editable-input {
    width: 100%
}

.editableform .form-control {
    width: 100%
}

/* doesn't fucking work */

#myeditable {
    width: 400px;
}
