{% if scene %}
    {#<script src="{{ url_for('static',filename='bower_components/bootstrap-rating-input/build/bootstrap-rating-input.min.js') }}" type="text/javascript"></script>#}
    <script>
	var scene_id = {{scene.id}};
	{% if facets['alltags'] %}
	    var tags = {{facets['alltags']|safe}};
	{% else %} 
	    var tags = '';
	{% endif %}
    </script>
    <h3>Scene:</h3>
    {% if deleted %}
	<span class="label label-danger">Deleted</span>
    {% endif %}
    {# figure out if deleted, show label-pill #}
    <h4>Display Name:</h4> 
    <a href="#" data-pk="{{scene.id}}" data-name="display_name" id="display_name" >{{scene.display_name}}</a>
    </form>
    <h4>Rating:</h4> 
    <div id="myrating" data-score="{% if scene.rating %}{{scene.rating}}{%else%}0{%endif%}"> </div>
    {#
    {% for i in range(scene.rating|int) %}
	<span class="glyphicon glyphicon-star"></span>
    {% else %}
	{% if scene.rating %}
	<span class="glyphicon glyphicon-star-empty"></span>
	{% else %}
	    Unrated
	{% endif %}
    {%- endfor %}
    #}
    {% if facets  %}
	    <h4>Tags:</h4>
	    <input type='text'  id="mytags" value="{{ facets['thesetags'] }}" style="width:80%" />
    {% endif %}
    

	
    {% if file_insts %}
	<h4>File instances:</h4> <ul>
	{% for fi in file_insts %}
	      <li>Name: {{fi.name}} 
		  <BR> Path: {{fi.Repo.path}}/{{fi.path}}
		  <BR> Size: {{fi.F.size|filesizeformat}}
		  <BR> Last Seen: {{fi.last_seen}}
	      </li>
	{% endfor %}
	</ul>
    {% else %}
	No file instances found
    {% endif %}

{% else %} 
    No scene selected...
{% endif %}
{#
<script>
(function ($) {
  $(function () {
    if ($('input.rating[type=number]').length > 0) {
      $('input.rating[type=number]').rating();
    }
  });
}(jQuery));
</script>
#}
