{% if scene %}
    <h3>Scene:</h3>
    {% if deleted %}
	<span class="label label-danger">Deleted</span>
    {% endif %}
    {# figure out if deleted, show label-pill #}
    <h4>Display Name:</h4> 
    <form action="/update/scene/wtf/?" method="POST" data-pjax >
    <input type="text" id="sidebar-display_name" class="form-control" value="{{scene.display_name}}">
    </form>
    <h4>Rating:</h4> 
    {% for i in range(scene.rating|int) %}
	<span class="glyphicon glyphicon-star"></span>
    {% else %}
	{% if scene.rating %}
	<span class="glyphicon glyphicon-star-empty"></span>
	{% else %}
	    Unrated
	{% endif %}
    {% endfor %}
    {% if facets  %}
	{% if facets['tags'] %}
	    <h4>Tags:</h4>
	    <form method='post' action=/update/tagsforscene/?> 
		<ul id="mytags">
		    {% for t in facets['tags']: %}
			<li>{{t}}<li>
		    {% endfor %}
		</ul>
	    </form>
	{% endif %}
    {% endif %}

	
    {% if file_insts %}
	<h4>File instances:</h4> <ul>
	{% for fi in file_insts %}
	      <li>Name: {{fi.name}} 
		  <BR> Path: {{fi.Repo.path}}/{{fi.path}}
		  <BR> Size: {{fi.F.size|filesizeformat}}
		  <BR> Last Seen: {{fi.last_seen}}
	      </li>
	{% endfor %}
	</ul>
    {% else %}
	No file instances found
    {% endif %}

{% else %} 
    No scene selected...
{% endif %}
<script>

// facets with tag-it
$('#mytags').tagit({
    autocomplete: {
	delay: 500,
	minLength: 2,
	source: '/get/facet-names/tag/'
    },
    removeConfirmation: true,
    itemName: 'tags',
    fieldName: 'elements'
    // function (defined in {} ) is invoked with arguments event and ui
    beforeTagAdded: function(event, ui) {
	// do something special
	if (!ui.duringInitialization) {
	    console.log(ui.tag);
	    // figure out if tag already exists on server
	    $.ajax({
		type: 'POST',
		url: '/get/tag/'+ui.tag,
		success(function(response){
		    var ret=JSON.parse(response); 
		    if (ret.result=="ERROR") {
			// tag does not exist on server
			if(!confirm_add(ui.tag)) {
			    //cancel
			    return false;
			}
			//create association
			if(!create_assoc('scene_tag',ui.tag)) {
			    //failed
			    return false;
			}
		    }
		});
	    });
	}
    }
});


function create_assoc(linktbl,tag,scene) {
    var values = {
	'scene_id':scene,
	'tag_id':tag
    };
	    
    $.ajax({
	type: 'POST',
	url: '/add/'+linktbl+'/',
	data: values,
	contentType: 'application/json; charset=utf-8',
	dataType: 'json'
    });
}

function add_new(thing,values) {
    $.ajax({
	type: 'POST',
	url: '/add/'+thing+'/',
	contentType: 'application/json; charset=utf-8',
	dataType: 'json',
	data: values
    }); 
}


function confirm_add(tag) {
    BootstrapDialog.show({
            message: 'Confirm adding tag: "'+tag+'"',
            buttons: [{
                label: 'Confirm new tag "'+tag'"',
                action: add_new('tag', {'name': tag } )
                }
            }, {
                label: 'Cancel'
                cssClass: 'btn-primary',
                action: function(dialogItself){
                    dialogItself.close();
                }
            }]
        }); 
}

// save after delay on display_name
var timerid;
$('#sidebar-display_name').keyup(function() {
  var form = this;
  clearTimeout(timerid);
  timerid = setTimeout(function() { form.submit(); }, 2000);
});

</script>
