{% if scene %}
    <h3>Scene:</h3>
    {% if deleted %}
	<span class="label label-danger">Deleted</span>
    {% endif %}
    {# figure out if deleted, show label-pill #}
    <h4>Display Name:</h4> 
    <form action="/update/scene/wtf/?" method="POST" data-pjax >
    <input type="text" id="sidebar-display_name" class="form-control" value="{{scene.display_name}}">
    </form>
    <h4>Rating:</h4> 
    {% for i in range(scene.rating|int) %}
	<span class="glyphicon glyphicon-star"></span>
    {% else %}
	{% if scene.rating %}
	<span class="glyphicon glyphicon-star-empty"></span>
	{% else %}
	    Unrated
	{% endif %}
    {%- endfor %}
    {% if facets  %}
	    <h4>Tags:</h4>
		<ul id="mytags">
		<input type='hidden' id="mytags" style="width: 500px;" value= {{ facets['taglist'] }} />
		</ul>
    {% endif %}

	
    {% if file_insts %}
	<h4>File instances:</h4> <ul>
	{% for fi in file_insts %}
	      <li>Name: {{fi.name}} 
		  <BR> Path: {{fi.Repo.path}}/{{fi.path}}
		  <BR> Size: {{fi.F.size|filesizeformat}}
		  <BR> Last Seen: {{fi.last_seen}}
	      </li>
	{% endfor %}
	</ul>
    {% else %}
	No file instances found
    {% endif %}

{% else %} 
    No scene selected...
{% endif %}
