{% extends "base.html" %}
{% block title %} Browse {% endblock %}
<script type="text/javascript" src="/static/pdb.js"></script>
 <script type=text/javascript>
   $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
 </script>
 <script type="text/javascript">
 $(function() {
        $( "#search" ).autocomplete({
	    source: function( request, response ) {
		$.getJSON($SCRIPT_ROOT + "/_search_university", {
		    search: request
		}, response);
            minLength: 2,
	    delay: 500,
	    autofocus: true,
	    }
        });
    });
  </script> 
{% block content %}
    <div class=main>
    <h3>Search</h3>
    <div class="row">
      <div class="col-lg-6">
	<div class="input-group">
	  <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">RegEx 
		<span class="caret"></span></button>
		<ul class="dropdown-menu">
		  <li><a href="#">Regex</a></li>
		  <li><a href="#">Words</a></li>
		  <li><a href="#">Boolean Query</a></li>
		  </ul>
	  </div><!-- /btn-group -->
	  <input type="text" class="form-control" id="search">
	  <div class="input-group-btn">
	    <button class="btn btn-default" type="button">Find</button>
	  </div>
	</div><!-- input-group -->
      </div><!-- col -->
    </div><!-- row -->
    <div id="results">
    <hr>
    </div>
    </div><! -- main -->
{% endblock %}





